.subjects-page {
    padding: 20px;
    background-color: #f9f9f9; 
}

.subjects-header {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
}

.subjects-header h1 {
    background-color: #002f81;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    display: grid;
    grid-column-gap: 70%;
    width: 100%;
    justify-content: center;
}

.search-container {
    display: flex; 
    margin-top: 10px; 
}

.search-bar {
    width: 100%; 
    max-width: 400px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-right: 10px; 
}

.search-button {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.subject-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.subject-card {
    background: white; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 250px; 
    transition: transform 0.2s; 
}

.subject-card:hover {
    transform: scale(1.05); 
}

.subject-card h2 {
    font-size: 1.5em; 
    color: #333; 
}

.subject-card p {
    margin: 5px 0; 
}