.subjects-page {
    padding: 20px;
    margin-bottom: 100px;
}

.subjects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.subject-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subject-card {
    border: 1px solid var(--color-secondary);
    padding: 20px;
    border-radius: 10px;
}

.subject-card h2 {
    margin-bottom: 10px;
}

.subject-card button {
    margin-top: 10px;
}
