

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #89b9e9;
    color: rgb(230, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; /* Added padding to balance the content */
}

.sidebar .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.sidebar .nav-link span {
    display: inline-block;
}

.welcome-message {
    font-size: 1.5rem; /* Adjust the size as needed */
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin-bottom: 20px; /* Space below the welcome message */
}

.main-content {
    flex: 1;
    padding: 20px;
}

.main-header {
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar-container {
    margin-bottom: 1rem;
}

.search-bar {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
