
/* Container for the login page and background image */
.loginContainer {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/* Background image styles */
.backgroundImage {
    flex: 1; /* Takes up the left side */
    background-image: url('../assets/background.jpg'); /* Replace with your image path */
    background-size: contain; /* Cover the area */
    background-position: center; /* Center the image */
    margin-bottom: 200px;
}

/* Styles for the login page */
.loginPage {
    background-color: #ffffff; /* White background */
    color: black; /* Text color */
    width: 700px; /* Fixed width for the login form */
    margin-top: 20px;
    padding: 30px; /* Padding for form */
    
}

/* Styles specific to the login form */
.loginForm {
    background-color: white; /* White background for form */
    color: black; /* Text color in form */
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.loginForm h2{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* General form styles */
.form-group {
    margin-top: 30px;
 
}

.form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding does not affect width */
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}


.loginIcon {
    width: 80px;
    height: auto;
    margin-right: 10px;
   
}
/* Button styles */
.btn-success {
    background-color: #05274c;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.text-center {
    text-align: center;
}

@media (max-width: 576px) {
    .loginForm {
        padding: 20px;
    }
}
